@using BMWCarsAndParts.Common
@model BMWCarsAndParts.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>We have:</p>
    <ul>
        <li>Users: @Model.UsersCount</li>
        <li>Cars: @Model.CarsCount</li>
        <li>Parts: @Model.CarsCount</li>
        <li>CarBodyTypes: @Model.CarTypesCount</li>
    </ul>
</div>
